body {
  margin: 0;
}
.slider-01 {
  float: left;
  margin: 0 auto;
  buttom: 0;
  width: 100%;
  height: 820px;
  min-width: 800px;
  background-color: #ffffff;
}
.main-header {
  float: left;
  position: absolute;
  height: 70px;
  width: 100%;
  z-index: 1;
  padding: 6px;
  display: block;
}
.logo {
  float: left;
}
.main-menu {
  float: right;
  padding-right: 15px;
}
.pink-line {
  float: left;
  position: absolute;
  width: 7px;
  height: 820px;
  background-color: #ff4d7d;
}
.slider-content {
  float: left;
  width: 50%;
  height: 820px;
  background-color: #f4f4f4;
}
.content {
  padding-top: 70px;
  padding-left: 12%;
  padding-right: 12%;
  margin: 0 auto;
  float: left;
}
.content h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: lighter;
  font-size: 110px;
  line-height: 20px;
  text-align: center;
  color: #e9e9e9;
}
.content h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 48px;
  text-align: center;
  line-height: 60px;
  letter-spacing: 10px;
  color: #343434;
}
.content h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: lighter;
  line-height: 10px;
  letter-spacing: 5px;
  color: #8a8a8a;
}
.content p {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  padding-left: 35px;
  padding-right: 35px;
  color: #8a8a8a;
}
.content p.pink {
  line-height: 70px;
  color: #ff4d7d;
}
.content .arrow {
  float: left;
  margin: 30px auto 0;
  height: auto;
  width: 30px;
  margin-left: 47%;
  margin-right: 47%;
}
.slider-images {
  float: right;
  width: 50%;
  height: 820px;
  background-color: #ffffff;
  background-image: url(https://photos-6.dropbox.com/t/2/AAAKQrXxSGmU0zCsDoQABOJzz1LmLKuB0O9aWq5YothubQ/12/35620648/jpeg/32x32/1/_/1/2/slide_01.jpg/EI-piBsYrRIgBygH/xZI8rQGuwgHDh-08EbNNPJhvq-svNnYEsTgv6WfmkSo?size=1280x960&size_mode=3);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no_repeat;
  background-position: 50%, 50%;
}
.slider-navigation {
  background-color: #ffffff;
  float: right;
  width: 290px;
  height: 60px;
  margin-top: 760px;
}
.slider-02 {
  float: left;
  margin: 0 auto;
  buttom: 0;
  width: 100%;
  height: 820px;
  min-width: 800px;
  background-color: #ff4d7d;
}
.slider-02 div:first-child {
  text-align: center;
  float: left;
  width: 45%;
  height: 820px;
  background-color: #ff4d7d;
}
.slider-02 div:first-child img {
  padding-top: 200px;
}
.slider-02 div:last-child {
  float: right;
  width: 50%;
  height: 820px;
  background-color: #ff7da0;
  color: #ffffff;
}
.slider-02 div:last-child p:nth-child(1) {
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 150px;
  font-size: 18px;
  line-height: 1.5;
}
.slider-02 div:last-child p:nth-child(2) {
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 150px;
  font-size: 18px;
  line-height: 1.5;
}
.slider-02 div:last-child p:nth-child(3) {
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 150px;
  font-size: 18px;
  line-height: 1.5;
}
.bullits {
  width: 5%;
  height: 820px;
  float: left;
  background-color: #ff4d7d;
  max-width: 90px;
}
.bullits img:nth-child(1) {
  padding-top: 220px;
}
.bullits img:nth-child(2) {
  padding-top: 80px;
}
.bullits img:nth-child(3) {
  padding-top: 100px;
}
.arrow {
  animation-name: ding;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes ding {
  33% {
    transform: translateY(15px);
  }
  /*66% {
        transform: translateX(15px);
    }*/
}
