// COLORS
@grey: #eaebed;
@pink: #ff4d7d;
@white: #ffffff;
@testColor: #4d88ff;
@fontcolor: #ff4d7d;

.h1FontSize(){
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
}

.slideSize () {
  float: left;
  margin: 0 auto;
  buttom: 0;
  width: 100%;
  height: 820;
  background-color: @white;
}
// Slider-01
.slider-01 {
  .slideSize
}
.pink-line {
  float: left;
  width: 5px;
  height: 820px;
  background-color: @pink;
}
.slider-content {
  float: left;
  width: 50%;
  height: 820px;
  background-color: @grey;
}
.content {
  .h1FontSize;
  margin: 0 auto;
  float: left;
  background: @testColor;
}
